<header class="z-40 flex items-center justify-between w-full h-16">
    <div
      class="relative z-20 flex flex-col justify-end h-full px-3 md:w-full"
    >
      <div class="relative flex items-center justify-end w-full gap-2">
        <!-- Users Icon -->
        <span class="relative block">
          <img
            alt="profil"
            src="assets/placeholder.png"
            class="mx-auto object-cover rounded-full h-10 w-10"
          />
        </span>
        <!-- Users Name -->
        <p class="flex items-center text-gray-500 dark:text-white text-md">
          {{ username }}
        </p>

        <span class="relative felx items-center">
          <button (click)="toggleUserDropDown()" class="cursor-pointer">
            <svg
              width="20"
              height="20"
              class="text-gray-400 cursor-pointer rounded-full hover:bg-gray-200"
              fill="currentColor"
              viewBox="0 0 1792 1792"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z"
              ></path>
            </svg>
          </button>

          <div
            *ngIf="openUserDropdown"
            class="absolute right-0 w-56 mt-4 origin-top-right bg-white rounded-md shadow-lg dark:bg-gray-800 ring-1 ring-black ring-opacity-5"
          >
            <div
              class="py-1"
              role="menu"
              aria-orientation="vertical"
              aria-labelledby="options-menu"
            >
              <a
                href="/profile"
                class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600"
                role="menuitem"
              >
                <span class="flex flex-col">
                  <span> Profile </span>
                </span>
              </a>
            </div>
          </div>
        </span>
      </div>
    </div>
  </header>
