<main class="relative h-screen overflow-hidden bg-gray-100 dark:bg-gray-800">
  <div class="flex items-start justify-between">
    <!-- Side bar -->
    <app-aside-panel />
    <div class="flex flex-col w-full md:space-y-4">
     <!-- header | appbar -->
     <header class="z-40 flex items-center justify-between w-full h-16">
      <div
        class="relative z-20 flex flex-col justify-end h-full px-3 md:w-full"
      >
        <div class="relative flex items-center justify-end w-full gap-2">
          <!-- Users Icon -->
          <span class="relative block">
            <img
              alt="profil"
              src="assets/placeholder.png"
              class="mx-auto object-cover rounded-full h-10 w-10"
            />
          </span>
          <!-- Users Name -->
          <p class="flex items-center text-gray-500 dark:text-white text-md">
            {{ userData["name"] }}
          </p>

          <span class="relative felx items-center">
            <button (click)="toggleUserDropDown()" class="cursor-pointer">
              <svg
                width="20"
                height="20"
                class="text-gray-400 cursor-pointer rounded-full hover:bg-gray-200"
                fill="currentColor"
                viewBox="0 0 1792 1792"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1408 704q0 26-19 45l-448 448q-19 19-45 19t-45-19l-448-448q-19-19-19-45t19-45 45-19h896q26 0 45 19t19 45z"
                ></path>
              </svg>
            </button>

            <div
              *ngIf="openUserDropdown"
              class="absolute right-0 w-56 mt-4 origin-top-right bg-white rounded-md shadow-lg dark:bg-gray-800 ring-1 ring-black ring-opacity-5"
            >
              <div
                class="py-1"
                role="menu"
                aria-orientation="vertical"
                aria-labelledby="options-menu"
              >
                <a
                  href="/profile"
                  class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 hover:text-gray-900 dark:text-gray-100 dark:hover:text-white dark:hover:bg-gray-600"
                  role="menuitem"
                >
                  <span class="flex flex-col">
                    <span> Profile </span>
                  </span>
                </a>
              </div>
            </div>
          </span>
        </div>
      </div>
    </header>
      <!-- Main Content -->
      <div class="h-screen px-4 pb-24 overflow-auto md:px-6">
        <!-- Welcome user heading -->
        <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">
          Good afternoom, {{ userData["name"] }}
        </h1>
        <!-- Description dashboard -->
        <h2 class="text-gray-400 text-md">
          Here&#x27;s what&#x27;s happening with your inventry account.
        </h2>
        <!-- grid content -->
        <div class="flex flex-col items-center w-full my-6  md:flex-row">
          <div class=" flex flex-wrap items-center  gap-4">
            <!-- card -->
            <div
              *ngFor="let items of CardList"
              class="bg-white shadow-lg px-4 py-6 flex gap-6 w-60"
            >
              <img
                alt="shopping-cart"
                src="{{ items.image }}"
                class="object-cover h-16 w-16"
              />

              <div>
                <p class="text-4xl font-bold text-black dark:text-white">
                  {{ items.subtitle }}
                </p>
                <p class="text-md text-gray-400">{{ items.title }}</p>
              </div>
            </div>

            <div *ngIf="isLoading" class="w-full my-12 flex items-center justify-center"> 
              <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              style="
                margin: 0;
                background: none;
                display: block;
                shape-rendering: auto;
              "
              width="80px"
              height="80px"
              viewBox="0 0 100 100"
              preserveAspectRatio="xMidYMid"
            >
              <circle
                cx="50"
                cy="50"
                fill="none"
                stroke="#000"
                stroke-width="13"
                r="37"
                stroke-dasharray="174.35839227423352 60.119464091411174"
              >
                <animateTransform
                  attributeName="transform"
                  type="rotate"
                  repeatCount="indefinite"
                  dur="1s"
                  values="0 50 50;360 50 50"
                  keyTimes="0;1"
                ></animateTransform>
              </circle>
            </svg>
            </div>

            
          </div>
        </div>
        <div class="absolute bottom-0 right-0">
          <img
          alt="shopping-cart"
          src="assets/inven-illu.svg"
          class="object-cover h-40 :w-40  md:h-96 md:w-96"
        />
        </div>
      
        
      </div>
    </div>
  </div>
</main>
